---
http_interactions:
- request:
    method: get
    uri: https://urlscan.io/api/v1/search?q=%22http://neverssl.com%22
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c37-rODWcNY2nUDb+1CopQuKQWt9X0A"
      X-Proxy-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: |-
        {
          "results": [
            {
              "task": {
                "visibility": "public",
                "method": "manual",
                "time": "2018-07-10T19:43:28.658Z",
                "source": "web",
                "url": "https://urldefense.proofpoint.com/v2/url?u=https-3A__bit.ly_2jAKayc&d=DwMBaQ&c=-7HNwxqfpkdcRXCW8HB54Q&r=ED1uWZgu1FWxrF-i0hAtdU2sLv9pHOEKdzsXmyrEQXs&m=8bYT2mi51cVVzOmLkPlZNYtVHVPAoSqofY6xr2gZmqY&s=69zs5pbwBngQxy2yyttlGZVMk8nlRiabAMnSin9xxZI&e="
              },
              "stats": {
                "uniqIPs": 1,
                "consoleMsgs": 0,
                "dataLength": 2536,
                "encodedDataLength": 1617,
                "requests": 1
              },
              "page": {
                "country": "US",
                "server": "AmazonS3",
                "city": "Seattle",
                "domain": "neverssl.com",
                "ip": "13.32.158.195",
                "asnname": "AMAZON-02 - Amazon.com, Inc., US",
                "asn": "AS16509",
                "url": "http://neverssl.com/",
                "ptr": "server-13-32-158-195.fra56.r.cloudfront.net"
              },
              "uniq_countries": 1,
              "_id": "c059aac3-e317-4407-9d01-99756e8e5049",
              "result": "https://urlscan.io/api/v1/result/c059aac3-e317-4407-9d01-99756e8e5049"
            },
            {
              "task": {
                "visibility": "public",
                "method": "manual",
                "time": "2018-07-10T19:36:41.824Z",
                "source": "web",
                "url": "https://urldefense.proofpoint.com/v2/url?u=https-3A__bit.ly_2jAKayc&d=DwMBaQ&c=-7HNwxqfpkdcRXCW8HB54Q&r=ED1uWZgu1FWxrF-i0hAtdU2sLv9pHOEKdzsXmyrEQXs&m=8bYT2mi51cVVzOmLkPlZNYtVHVPAoSqofY6xr2g[...]
