---
http_interactions:
- request:
    method: get
    uri: https://dns.google.com/resolve?name=example.com&type=A
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Status": 0,"TC": false,"RD": true,"RA": true,"AD": true,"CD": false,"Question":[
        {"name": "example.com.","type": 1}],"Answer":[ {"name": "example.com.","type":
        1,"TTL": 1841,"data": "93.184.216.34"}]}'
  recorded_at: Sat, 08 Sep 2018 05:35:58 GMT
recorded_with: VCR 4.0.0
